body{
    font-family: 'Lucida Sans';
}

h2{
    color: gray;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 5px;
    margin: 50px 200px;
    padding: 20px 30px;
}